<aside class="sidebar">
  <div class="sidebar-inner">
    <img class="logo-img" src="/images/logo.png" alt="Logo" />
    <ul class="sidebar-menu">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/add-art">Add arts</a></li>
      <li><a href="/add-artist">Add Artist</a></li>
      <li><a href="/add-customer">Add Customers</a></li>
      <li><a href="/art-list">Art List</a></li>
      <li><a href="/customers">Customer's List</a></li>
      <li><a href="/artists">Artist's List</a></li>
      <li><a href="/order">Orders</a></li>
    </ul>
  </div>
</aside>
