<footer>
  <div class="footer-wrapper">
    <div class="contact-info col-6">
      <h4 class="mb-3">Get in touch</h4>
      <ul>
        <li>108, University Ave, Waterloo, ON N2J 2W2</li>
        <li>+1 999-999-9999</li>
        <li>antiquearts@artify.com</li>
      </ul>
    </div>
    <div class="socials col-6">
      <h4 class="mb-3">Socials</h4>
      <ul>
        <li>
          <a href="">Facebook</a>
        </li>
        <li>
          <a href="">Instagram</a>
        </li>
        <li>
          <a href="">Google</a>
        </li>
      </ul>
    </div>
  </div>
  <p id="copyright">Copyright &copy; 2024 Artify Art gallery</p>
</footer>
