<header>
  <nav>
    <div class="font-change-btn">
      <div class="search-btn">
        <a href="/dashboard" class="btn">Dashboard</a>
      </div>
    </div>

    <img class="logo-img" src="/images/logo.png" alt="Logo" />
  </nav>
</header>
